
/* Navigation Bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section */
#home{
    height: 370px;
    padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* Service section */
#service{
    flex-direction: column;
    margin: 10px 90px 50px;
}
#service .box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 2px;
}
/* Client section */
.client{
    flex-wrap: wrap;
}
.client img{
    width: 66px;
    padding: 6px;
    height: auto;
}
#contact form{
    width: 80%;
}
/* Utility section */
.primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}